.btn-facebook{
    background-color: #405D9B !important;
    border-color: #405D9B !important;
    box-shadow: 0 1px 1px 0px #324161;
}

.subtext-prompt{
    color: #6FFFF3;
}

/* -----------------------------------------------
 * Splash screen
 * ---------------------------------------------*/
.splash-screen{
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6ab4b0;
}

.splash-screen .splash-screen-overlay{
    position: fixed !important;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-size: cover;
    background: linear-gradient( to bottom, rgba(126,206,205,0.75), rgba(0, 123, 123, 0.85) ),url('../img/farm-bg.jpg') no-repeat center center fixed;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.splash-screen-container{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    /*justify-content: center;*/
}

.splash-screen-container .splash-screen-brand-container{
    /*height: 30vh;*/
    display: flex;
    justify-content: center;
}

.splash-brand-container{
    border-radius: 100px;
    width: 100px !important;
    height: 120px !important;
    /*padding:7px;
    text-align:center;*/
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 0px #318584;
}

.splash-brand-container .splash-brand{
    color: #7ECECD;
}

.splash-brand-container .splash-brand .fa{
    text-shadow: 0px 2px 1px #318584 !important;
}

.splash-feature{
    color: #E2E2E2;
    font-size: 4rem !important;
}

/* -----------------------------------------------
 * Login
 * ---------------------------------------------*/
.login-body{
    background-color: #1F6D6D;
}

.login-view{
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6ab4b0;
}

.login-view .login-view-overlay{
    position: fixed !important;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-size: cover;
    background: linear-gradient( to bottom, rgba(126,206,205,0.75), rgba(0, 123, 123, 0.85) ),url('../img/farm-bg.jpg') no-repeat center center fixed;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.login-container{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

.login-container .login-brand-container{
    /*height: 30vh;*/
    display: flex;
    justify-content: center;
}

.login-social{
    z-index:1;
    display:flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    margin-top:20px;
    justify-content:center;
    align-content:space-between;
}

.login-social .login-social-btn{
    border:2px solid #b1b1b1;
    padding:10px;
    text-align:center;
    width:58px;
    border-radius:60px;
    cursor:pointer;
    margin:0 5px;
}

.login-social .login-social-btn .login-icon{
    color:#b1b1b1;
    font-size:3rem;
}

.login-option{
    text-align:center; z-index:1; color:#CDE0E8; padding-top:20px; font-size:1.75rem;
}

.login-brand{
    color: #fff;
}

.login-hr{
    border-top: 1px solid #f1f1f1;
}

.login-brand-subtext{
    color: #fff;
    text-transform: none;
    font-weight: 400;
}

.login-feature-icon{
    color: #fff;
    font-size:2.5rem;
}

.login-form{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top:20px;
}

.login-form .row{
    margin-top: 15px;
    margin-bottom: 15px;
}

.login-input{
    background-color:transparent !important;
    border: 1px solid #fff;
    color: #fff !important;
}

.login-input:focus{
    border: 1px solid #fff;
}

.login-trademark{
    bottom:0;
    position: absolute;
    margin-bottom:20px;
    width:100%;
    text-align:center;
}

.login-btn{
    border-color:#FF8105 !important;
    background-color: #FF8105 !important;
    color: #fff;
    /*box-shadow: 0 29px 32px -20px rgba(0, 0, 0, 0.82);*/
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.22);
    opacity: 1;
}

.login-btn:hover{
    color: #ffffff;
}

.signup-footer{
    bottom:0;
    position: absolute;
    margin-bottom:60px;
    width:100%;
    text-align:center;
}

.signup-footer .signup-message{
    text-transform:none;
    font-weight:300;
    color: #B5B5B5;
    font-size:1.5rem;
}

.signup-footer .sign-up-link{
    text-transform:none;
    font-weight:500;
    color: #fafafa;
    font-size:1.75rem;
    cursor:pointer;
}

@media (min-width: 1200px){
    .login-form {
        width: 1170px;
    }
}
@media (min-width: 992px){
    .login-form {
        width: 970px;
    }
}
@media (min-width: 768px) {
    .login-form {
        width: 600px;
    }
}


/* --------------------------------------------
 *    Sign Up
 * -------------------------------------------*/

.signup-view{
    min-height:100%;
    background-color: #559292;
}

.signup-prompt{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px 0 20px 0;
    color: #ffffff;
    text-align:center;
}

.signup-prompt .signup-subtext{
    text-transform:none; color: #ffffff;
}

.signup-social{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #296F79;
    padding: 30px 20px !important;
    box-shadow: inset 0 0 10px #4C4D4E;
    border: 2px solid #599BA5;
    border-left: none;
    border-right: none;
}

.signup-btn-social{
    width:100%;
    max-width:600px;
    box-shadow: 0 1px 1px 0px #324161;
}

.signup-form{
    width:100%;
    max-width:600px;
    padding:40px 0;
    margin: 0 auto;
    justify-content: center;
}

.signup-form .signup-input-box{
    margin-bottom:40px;
}

.signup-form .signup-input-box .signup-input{
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #86C5C5;
    color: #ffffff !important;
    border-radius: 0px;
}

.signup-form .signup-submit-box{
    width:100%;
    display: flex;
    justify-content: center;
    padding:20px 20px;
}
.signup-form .signup-submit-box .signup-btn-submit{
    background-color: #417082;
    border: 1px solid #417082;
    box-shadow: 0 1px 1px 1px #225A67;
}

.signup-form .signup-terms-box{
    width:100%;
    text-align:center;
    color: #D6E7E8;
}

.signup-form .signup-terms-box .signup-terms-link{
    color: #4FFFF8;
}

.signup-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #D6D6D6;
}

.signup-input::-moz-placeholder{
    color: #D6D6D6;
}

.signup-input:-ms-input-placeholder {
    color: #D6D6D6;
}

.signup-input:-moz-placeholder {
    color: #D6D6D6;
}

.signup-forgot-password{
    font-size: 1.5rem;
    color: #00D3FF;
}

/* --------------------------------------------
 *    Forgot Password
 * -------------------------------------------*/

.forgot-view{
    min-height:100%;
    background-color: #559292;
}

.forgot-prompt{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px 0 20px 0;
    color: #ffffff;
    text-align:center;
    padding-top:100px;
}

.forgot-prompt .forgot-icon-cont{
    /*border: 3px solid #fff;
    width: 150px;
    border-radius: 100px;*/
}

.forgot-prompt .forgot-icon-cont .forgot-icon{
    font-size:8rem;
}

.onboarding-view{
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #7CCFCA;
}

@media (max-width:450px){
    .forgot-prompt{
        padding-left:30px !important;
        padding-right:30px !important;
    }
}

/* --------------------------------------------
 *    Invite
 * -------------------------------------------*/

.invite-view{
    min-height:100%;
    background-color: #559292;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding:0 30px;
}

.invite-prompt{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px 0 20px 0;
    color: #ffffff;
    text-align:center;
    padding-top: 5vh;
}

.invite-prompt .invite-title{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-content:center;
}

.invite-prompt .invite-title .invite-icon{
    font-size:4rem;
    margin:0px !important;
    margin-top: 13px !important;
    margin-right:15px !important;
}

.invite-card{
    max-width: 650px !important;
    width: 100%;
    border-radius: 3px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
    box-shadow: 0px 4px 12px 3px #1E7777;
}

.invite-card .invite-card-nav{
    border-bottom: 1px solid #e8e8e8;
    width:100% !important;
    height:50px !important;
    display:flex;
    flex-direction:row;
}

.invite-card .invite-card-nav .icon-tag{
    width:50px;
    height:inherit;
    background-color: #559292;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #5CA7A7;
    border-top-left-radius: 3px !important;
    font-size:2rem;
}

.icon-title{
    width: 100%;
    text-align: center;
}

.icon-title .practice-name{
    font-size:16px; color: #559292;
    margin-top:10px;
}

.invite-card .invite-card-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.invite-card-body .form-name-container{
    text-align:center;
}

.invite-card-body .form-name-container .form-name{
    color: #09A5A5;
    font-size:18px;
}

.invite-form{
    width:100%;
    max-width:600px;
    /*padding:40px 0;*/
    padding-bottom:20px;
    margin: 0 auto;
    justify-content: center;
}

.invite-form .invite-input-box{
    margin-bottom:40px;
}

.invite-form .invite-input-box .invite-input{
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #86C5C5;
    color: #559292 !important;
    border-radius: 0px;
}

.invite-form .invite-submit-box{
    width:100%;
    display: flex;
    justify-content: center;
    padding:20px 20px;
}
.invite-form .invite-submit-box .invite-btn-submit{
    background-color: #417082;
    border: 1px solid #417082;
    box-shadow: 0 1px 1px 1px #225A67;
}

.invite-form .invite-terms-box{
    width:100%;
    text-align:center;
    color: #949494;
}

.invite-form .invite-terms-box .invite-terms-link{
    color: #00ABA4;
}

.invite-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c3c3c3;
}

.invite-input::-moz-placeholder{
    color: #c3c3c3;
}

.invite-input:-ms-input-placeholder {
    color: #c3c3c3;
}

.signup-input:-moz-placeholder {
    color: #c3c3c3;
}

.signup-forgot-password{
    font-size: 1.5rem;
    color: #00D3FF;
}

@media (min-width:992px){
    .invite-card-body .form-name-container .form-name{
        color: #09A5A5;
        font-size: 28px;
    }

    .invite-prompt .invite-icon{
        font-size:8rem;
        margin:0px !important;
    }
}

/* media layout overrides */
.mediaTest {position:absolute;top:0px;left:0px;}
.mediaTest span {padding:4px;color:white;background-color:maroon;}

@media only screen and (max-width:1920px) {
    .screenDev {display:none;}
    .screen1920px {display:block;}
}
@media only screen and (max-width:1600px) {
    .screenDev {display:none;}
    .screen1600px {display:block;}
}
@media only screen and (max-width:1366px) {
    .screenDev {display:none;}
    .screen1366px {display:block;}
}
@media only screen and (max-width:1360px) {
    .screenDev {display:none;}
    .screen1360px {display:block;}
}
@media only screen and (max-width:1280px) {
    .screenDev {display:none;}
    .screen1280px {display:block;}
}
@media only screen and (max-width:1200px) {
    .screenDev {display:none;}
    .screen1200px {display:block;}
}
@media only screen and (max-width:1024px) {
    .screenDev {display:none;}
    .screen1024px {display:block;}
    .logo {height:3em;}
    #uploadPanel .actions button {padding-left:58px;padding-right:58px;}
}
@media only screen and (max-width:906px) {
    .screenDev {display:none;}
    .screen906px {display:block;}
}
@media only screen and (max-width:800px) {
    .screenDev {display:none;}
    .screen800px {display:block;}
}
@media only screen and (max-width:769px) {
    .screenDev {display:none;}
    .screen769px {display:block;}
}
@media only screen and (max-width:768px) {
    .screenDev {display:none;}
    .screen768px {display:block;}
    .logo {height:2em;}
    .header #appHeader>button {font-size:.8em;}
    #uploadPanel .actions button {padding-left:38px;padding-right:38px;}
}
@media only screen and (max-width:767px) {
    .screenDev {display:none;}
    .screen767px {display:block;}
    ul.timeline:before {left: 40px;}
    ul.timeline > li > .timeline-panel {width: calc(100% - 90px);width: -moz-calc(100% - 90px);width: -webkit-calc(100% - 90px);}
    ul.timeline > li > .timeline-badge {left: 15px;margin-left: 0;top: 16px;}
    ul.timeline > li > .timeline-panel {float: right;}
    ul.timeline > li > .timeline-panel:before {border-left-width: 0;border-right-width: 15px;left: -15px;right: auto;}
    ul.timeline > li > .timeline-panel:after {border-left-width: 0;border-right-width: 14px;left: -14px;right: auto;}
}
@media only screen and (max-width:736px) {
    .screenDev {display:none;}
    .screen736px {display:block;}
}
@media only screen and (max-width:667px) {
    .screenDev {display:none;}
    .screen667px {display:block;}
}
@media only screen and (max-width:640px) {
    .screenDev {display:none;}
    .screen640px {display:block;}
    .logo {display:none;}
    .header #appHeader>button {font-size:.7em;}
    #dashboard .pageButtonHeader button {font-size:.8em !important; padding:3px;}
}
@media only screen and (max-width:601px) {
    .screenDev {display:none;}
    .screen601px {display:block;}
}
@media only screen and (max-width:568px) {
    .screenDev {display:none;}
    .screen568px {display:block;}
}
@media only screen and (max-width:480px) {
    .screenDev {display:none;}
    .screen480px {display:block;}
    .logo {display:none;}
    .header #appHeader>button {font-size:.6em;}
    #dashboard .pageButtonHeader button {font-size:.7em !important; padding:3px;}
}
@media only screen and (max-width:414px) {
    .screenDev {display:none;}
    .screen414px {display:block;}
}
@media only screen and (max-width:380px) {
    .screenDev {display:none;}
    .screen380px {display:block;}
    .logo {display:none;}
    .header #appHeader>button {font-size:.4em;}
    #dashboard .pageButtonHeader button {font-size:.65em !important; padding:3px;}
}
@media only screen and (max-width:375px) {
    .screenDev {display:none;}
    .screen375px {display:block;}
}
@media only screen and (max-width:360px) {
    .screenDev {display:none;}
    .screen360px {display:block;}
    #dashboard #folders .panel .panel-body .panel {width:90px;padding:0;float:left;}
}
@media only screen and (max-width:320px) {
    .screenDev {display:none;}
    .screen320px {display:block;}
    .logo {display:none;}
    .header #appHeader>button {font-size:.3em !important;}
    #dashboard .pageButtonHeader button {font-size:.5em !important; padding:3px;}
    #dashboard #folders .panel {margin:0 0 15px 0;min-width:270px;}
    #dashboard #folders .btn-circle {border-radius:28px;box-shadow:0px 2px 5px #ccc;padding:4px 6px 4px 6px}
    #dashboard #folders .btn-circle span {font-size:1.1em;}
}