	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/03/2016 00:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"], [class*=" flaticon-"],
[class^="flaticon-"], [class*=" flaticon-"] {
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-doctor:before { content: "\f100"; }
.flaticon-medicine:before { content: "\f101"; }
.flaticon-pad:before { content: "\f102"; }
.flaticon-records:before { content: "\f103"; }
.flaticon-stethoscope:before { content: "\f104"; }