// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  primary:    #ffffff,
  secondary:  #71b0b1,
  danger:     #cb7671,
  light:      #ebebce,
  dark:       #bcbec2,
  favorite:   #69BB7B,
  
  cmd-primary: #7ECECD,
  cmd-nav-background: #ffffff,
  cmd-accent-1: #23CCEF,
  cmd-text: #a0a0a0,
  cmd-text-nav: #ffffff,
  cmd-text-faded: #cdcdcd,
  cmd-text-nav-profile: #5B9493,
  
  cmd-text-card-header: #07569C
);

$screen-small: 768px;
$screen-medium: 992px;
$screen-large:1200px;

/* ===========================================================
 * ===========================================================
 *      IONIC OVERRIDES
 * ===========================================================
 * ==========================================================*/

// Navbar
//-------------------------------------------------------------
$toolbar-ios-height: 60px;
$toolbar-md-height: 60px;
$toolbar-wp-height: 60px;

$toolbar-background: map-get($colors, cmd-primary);
$toolbar-border-color: map-get($colors, cmd-primary);
$toolbar-text-color: map-get($colors, cmd-text-nav);

.toolbar-title{
    font-size: 3.5rem !important;
    padding-top: 7px;
}

@media only screen 
  and (min-width: $screen-small) {
    
    $toolbar-ios-height: 70px;
    $toolbar-md-height: 70px;
    $toolbar-wp-height: 70px;
}
//-------------------------------------------------------------


// Side Menu
//-------------------------------------------------------------
$menu-ios-background: map-get($colors, cmd-primary);
$menu-md-background: map-get($colors, cmd-primary);
$menu-wp-background: map-get($colors, cmd-primary);


@media only screen 
  and (min-width: $screen-large) {
    $menu-ios-background: map-get($colors, cmd-nav-background);
    $menu-md-background: map-get($colors, cmd-nav-background);
    $menu-wp-background: map-get($colors, cmd-nav-background);
}
//-------------------------------------------------------------


