/* ----------- Mobile View - Start ----------------------------------------- */
.dashboard-page{
  overflow-y: auto !important;
}

.dash-tabs {
      text-align: center !important;
      margin: 0 2% !important;
      font-size:1.5rem;
      font-family: 'Raleway' !important;
  }
  
  .dash-icon{
    font-size:2.5rem !important;
  }

.dash-nav-container{
  background-color:#fff;
  padding-top:10px;
}

.dashboard-web-header{
  min-height:60px !important;
}

.dashboard-web-title{
  text-align:center;
}

.dashboard-web-container{
  
  background-color: #ffffff !important;
  
  .main-panel{
    overflow-y:auto !important;
  }
  
  .content{
      .title-underline{
        height: 4px !important;
        background-color: map-get($colors, cmd-primary);
      }
    }
  
  .card{
    .header{
      .title{
        color:map-get($colors, cmd-text-card-header) !important;
      }
    }
    .content{
      padding-top:30px;
      max-height:150px;
      height:100vh;
      
      a{
        color: #23CCEF;
      }
      
      div{
        padding-bottom:10px;
        color: map-get($colors, cmd-text) !important;
      }
      
      .footer{
        .stats{
          color: map-get($colors, cmd-text-faded) !important;
        }
      }
    }
  }
  
}

@media (min-width: 768px) {
    
  .dashboard-web-container{
    padding-top: 40px !important;
  }
}

