<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    <i class="pe-7s-plugin"></i>
  </ion-title>
</ion-navbar>

<div class="dash-nav-container mobile-only">
    <div class="nav-container">
      <ul class="nav nav-icons" role="tablist">
          <li class="dash-tabs" [(class.active)]="item.active" *ngFor="let item of tabs">
              <a role="tab" data-toggle="tab" (click)="setActiveTab($event, item)">
                  <i class="{{item.iconClass}} dash-icon"></i><br> 
                  {{item.name}}
              </a>
          </li>
      </ul>
    </div>
    <hr style="background-color:rgba(111, 111, 111, 0.12);">
</div>

<ion-content padding class="dashboard-page">
    <div class="dashboard-web-container">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div id="activity" class="col-md-12 col-lg-4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="title">Activity</h4>
                            </div>
                        </div>
                        <hr class="title-underline">
                        <div class="card" *ngFor="let activity of content.activities">
                            <div class="header">
                                <h5 class="title">{{activity.title}}</h5>
                            </div>
                            <div class="content">
                                <div>{{activity.description}}</div>
                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Updated 10 mins ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="appointments" class="col-md-12 col-lg-4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="title">Appointments</h4>
                            </div>
                        </div>
                        <hr class="title-underline">
                        <div class="card" *ngFor="let appointment of content.appointments">
                            <div class="header">
                                <h5 class="title">{{appointment.title}}</h5>
                            </div>
                            <div class="content">
                                <div>{{appointment.description}}</div>
                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i> {{appointment.time | date:'medium'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="forms" class="col-md-12 col-lg-4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="title">Forms</h4>
                            </div>
                        </div>
                        <hr class="title-underline">
                        <div class="card" *ngFor="let form of content.forms">
                            <div class="header">
                                <h5 class="title">{{form.title}}</h5>
                            </div>
                            <div class="content">
                                <div>{{form.practice}}</div>
                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> {{form.recieved | date:'medium'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</ion-content>
